<div class="container mt-nav p-4 text-center">
  <div class="card p-4 shadow-sm">
    <div [ngClass]="isError ? 'text-danger' : 'text-success'">
      <h3>
        {{ isError ? ('PAYMENT.FAILURE_TITLE' | translate) : ('PAYMENT.SUCCESS_TITLE' | translate) }}
      </h3>
      <p>{{ message }}</p>
    </div>

    <div class="mt-4">
      <button class="btn-success btn me-2" (click)="goToOrders()">
        {{ 'PAYMENT.BACK_TO_ORDERS' | translate }}
      </button>

      <button *ngIf="isError && orderId" class="btn btn-outline-danger" (click)="goToOrderComplete()">
        {{ 'PAYMENT.BACK_TO_ORDER_DETAILS' | translate }}
      </button>
    </div>
  </div>
</div>
