<app-discount></app-discount>


  <section class="py-5">
    <div class="container">
      <!-- Section Title -->
      <div class="text-center mb-4">
        <h2 class="fw-bold gradient-pr">{{ 'ALLSERVICES.TITLE' | translate }}</h2>
        <p class="text-muted">
          {{ 'ALLSERVICES.DESCRIPTION' | translate }}
        </p>
        <hr class="w-75 mx-auto" />
      </div>
<div  *ngIf="Loader" class="d-flex justify-content-center align-items-center" style="height: 20vh;">
  <i class="fa fa-spinner fa-spin fs-1 color-pr"></i>
</div>  
      <!-- Cards -->
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let service of services">
          <div class="card border-0">
            <img [src]="service.image" 
     [alt]="service.englishName" 
     class="card-img-top w-100 img-fluid" 
     style="height: 220px; object-fit: cover;" />

            <div class="card-body text-center">
              <h5 class="fw-bold">{{ categoryNameMap[service.id] }}</h5>
              
              <button [routerLink]="['/services/cleaners', service.id]" class="pr-sec-btn">
                {{ 'ALLSERVICES.CHOOSE_CLEANER' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<app-best-cleaner [categoryId]="1"></app-best-cleaner>
