.header{
    /* background-image: url(../../../../assets/d221e08d7fdd319d1d440592d7fbc32b.jpg); */
    background: #121212;
    background-size: cover;
    background-position: center;
     padding: 112px 64px 112px 64px; 

    position: relative;
    min-height: 400px;
    
    }

.waves-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  min-height: 400px;
  /* pointer-events: none; */
  z-index: 2;
  display: block;

  /* background: rgba(0,255,255,0.1) !important; */
}