<!-- <div class="container-fluid  text-white header ">
    <div class="bg-dark"></div>
    <div class="row mt-nav align-items-center ">
      <div class="col-md-12  position-relative z-2">
        <h1 class="text-center">Get 10% off your first order</h1>
        <p class="text-center">Select your preferred cleaner and service to enjoy a spotless space today!</p>
        <div class="mt-4 text-center">
            <button class="pr-btn me-2">book</button>
            <button class="pr-sec-btn">learn more</button>
          </div>
      </div>
      
    </div>
  </div> -->

  <div class="container-fluid text-white header">
    <div class="bg-dark"></div>
    <div class="row mt-nav align-items-center">
      <div class="col-md-12 position-relative z-2">
        <h1 class="text-center">{{ 'DISCOUNT.TITLE' | translate }}</h1>
        <p class="text-center">{{ 'DISCOUNT.DESCRIPTION' | translate }}</p>
        <div class="mt-4 text-center">
          <button class="pr-btn me-2">{{ 'DISCOUNT.BOOK' | translate }}</button>
          <button class="pr-sec-btn">{{ 'DISCOUNT.LEARN_MORE' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  