<div class="container">
  <h2 class="text-center mb-4">{{ 'RESET.TITLE' | translate }}</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label>{{ 'RESET.NEW_PASSWORD' | translate }}</label>
      <input type="password" class="form-control" formControlName="newPassword">
    </div>
    <div class="form-group mb-3">
      <label>{{ 'RESET.CONFIRM_PASSWORD' | translate }}</label>
      <input type="password" class="form-control" formControlName="confirmPassword">
      <div *ngIf="resetForm.errors?.['mismatch'] && resetForm.touched" class="text-danger mt-1">
        {{ 'RESET.MISMATCH' | translate }}
      </div>
    </div>

    <button *ngIf="!done" type="submit" class="btn pr-btn w-100" [disabled]="resetForm.invalid">
      {{ 'RESET.SUBMIT' | translate }}
    </button>
  </form>

  <button *ngIf="done" type="button" class="btn pr-sec-btn w-100" [routerLink]="['/auth/login']">
    {{ 'RESET.SUCCESS_LOGIN' | translate }}
  </button>

  <div class="toast-container position-fixed bottom-0 end-0 p-3 z-3">
    <div id="mainToast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body" id="toastMessage">
          {{ 'RESET.TOAST' | translate }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
