<div class="body">
  <div class="card border-0 p-4 text-center">
    <!-- Placeholder for Image -->
    <!-- Title -->
    <h4 class="fw-bold">Sign in to your account</h4>

      <p  class="text-muted"
        >Start your demo version</p
      >

    <!-- Buttons -->
    <button class="pr-btn w-100 py-2 mb-3" [routerLink]="['/auth/signup']">Sign up</button>
    <button class="pr-sec-btn w-100 py-2 mb-3" [routerLink]="['/auth/login']">log in</button>
    
    <!-- Terms and Conditions -->
    <p class="text-muted">
      By signing up you agree to our
      <a  class=" color-pr" >Terms of Use</a> and
      <a  class=" color-pr" >Privacy Policy</a>.
    </p>
  </div>
</div>
