<div class="bg-light vh-100 p-3" style="width: 250px;">
  <h5>Main Menu</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['/dashboard/home']" [routerLinkActive]="'active bg-success text-white rounded'">Dashboard</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/workers']" [routerLinkActive]="'active bg-success text-white rounded'">Workers </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/Categories']" [routerLinkActive]="'active bg-success text-white rounded'">Categories</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/emailSub']" [routerLinkActive]="'active bg-success text-white rounded'">EmailSub</a>
      
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/contacts']" [routerLinkActive]="'active bg-success text-white rounded'">Contacts</a>
      
    </li>
     <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/orders']" [routerLinkActive]="'active bg-success text-white rounded'">Orders</a>
      
    </li>
     <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/customers']" [routerLinkActive]="'active bg-success text-white rounded'">Customers</a>
      
    </li>
  
   
  </ul>
</div>